<div class="grid_5 guide-item <%= alpha_or_omega(item_counter) %>">
	<% if item.filled? %>
		<h3><%= item.name %></h3>
		<address><%= item.address %></address>
		<div class="list-address" data-address="<%= item.address %>"></div>
		<p class="description"><%= item.description %></p>
	<% else %>
		Nothing Added Yet
	<% end %>
</div>