<div class="grid_5 guide-item <%= alpha_or_omega(item_counter) %>">
	<% if item.filled? %>
		<h3><%= item.name %></h3>
		<address><%= item.address %></address>
		<div class="list-address" data-latlon="<%= item.latlon %>"></div>
		<p class="description"><%= item.description %></p>
	<% else %>
		<p class="empty">
			The <%= (item_counter + 1).ordinalize %> place has not been added yet
		</p>
	<% end %>
	<% if item.belongs_to?(current_user) %>
		<%= link_to "Edit", edit_guide_item_path(@guide, item), :class => "btn edit-guide-link" %>
	<% end %>
</div>