<% content_for :head_extras do %>
	<script type="text/javascript">	
		jQuery(document).ready(function() {
			$("#guide_description").counter({ goal : 200, insert : "#countdown"}).focus();
		});
	</script>
<% end %>

<div class="grid_6">
	<h2>Create Guide</h2>

	<%= form_for @guide do |f| %>
	
		<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
		</p>
	
		<p>
		<%= f.label :description, "Description" %>
		<span class="help-text"><span id='countdown'></span> characters left</span>
		<%= f.text_area :description %>
		</p>
	
		<p>
		<%= f.submit "Create Guide", :class => "btn" %>
		</p>
	<% end %>
</div>
<div class="grid_4">
	
</div>
<div class="clear"></div>