<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Page Pope</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
		<%= stylesheet_link_tag "print", :media => "print" %>
    <%= javascript_include_tag "application" %>
		<%= yield :head_extras %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container_10">
    	<%= render 'layouts/menu' %>
			<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			<%- end -%>
			<%= yield %>
    </div>
  </body>
</html>
